* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: 'Courier New', monospace;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}
